- @stories.each do |i|
  .story--item
    .story-item--inner
      .story-item--left
        .story--twitter-img
          %img{:src => i.source_image_url}
      .story-item--middle
        .story--title
          #{ link_to i.title, i.url, :style => 'color: #000', :target => "_blank"}
        .story--summary
          = i.summary
        .story--meta
          = format_newsfeed_date(i.tweet_created_at)
          &#8226
          #{ link_to i.hostname, i.hostname, :class => 'host'}
          &#8226
          = i.rank
      .story-item--right
        .story--favorite
          %p.upvote
            %a{:href => 'http://www.google.com'}
          %p.downvote
            %a{:href => 'http://www.google.com'}
