!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'News Site Frontend Omniauth'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'News Site Frontend Omniauth'}"}
    %link{href: 'http://fonts.googleapis.com/css?family=Lato:300,700,300italic', rel: 'stylesheet', type: 'text/css' }
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{:style => 'background-color: #fde13f'}
    - if current_user
      %header
        = render 'layouts/navigation'
      %main{:role => "main"}
        = render 'layouts/messages'
        = yield
    - else
      %div.container
        %div.row
          %img{:src => image_url("nuztap_logo.png")}
        %div.row
          %div.col-lg-1.col-offset-6.centered{:style => "margin-top: 8%; width: 200px; margin-left: auto; margin-right: auto;"}
            = link_to 'Login with Twitter', signin_path, {:class => 'btn btn-lg btn-primary', :style => 'color: #fff; margin'}
